@media (min-width: 1024px) {
  :root {
    --logo-size: 100px;
    --font-logo: 700 2.8rem var(--font-family);
    --font-big: 900 clamp(3.4rem, 8vw, 8rem) var(--font-family);
    --main-gap: 60px;
  }
  .landing-center-navbar {
    padding-top: -40vh;
    margin-top: -50px;
    padding-bottom: 0vh;
  }
  .landing-center-bigtext {
    width: 72vw;
    max-width: 1100px;
    min-width: 280px;
    margin: 0 0 2.5vh 0;
  }
}