@media (max-width: 599px) {
  :root {
    --logo-size: 16px;
    --font-logo: 700 1.1rem var(--font-family);
    --font-big: 800 clamp(1.1rem, 9vw, 3rem) var(--font-family);
    --main-gap: 16px;
  }
  .landing-center-navbar {
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
  }
  .landing-center-bigtext {
    width: 90vw;
    max-width: 100vw;
    min-width: 0;
    margin: 0 0 1vh 0;
  }
  .bigtext-line {
    margin-bottom: 1vh;
  }
}